*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(images/favicon-32x32.png);
    color: white;
    font-size: 16px;
    font-family: 'Poppins';
}
/* Grid Layout CSS */
.grid-container{
    display: grid;
    background-color: hsl(0, 100%, 74%);
    background-image: url(images/bg-intro-desktop.png);
    grid-template-columns: 350px 350px 350px;
    grid-auto-rows: 300px;
    grid-gap: 10px;
    justify-content:start;
    align-content: center;
    height: 100vh;
    margin: 20px 60px 20px 60px;
    align-items: center;
}
.grid-item1{
    grid-column: span 2;
    grid-row: span 2;
    margin-left: 100px;
}
.grid-item2{
    background-color: hsl(248, 32%, 49%);
    border-radius: 10px;
    width: 440px;
    padding: 15px;
    font-weight: 400;
    margin-left: -100px;
    text-align: center;
    margin-bottom: 70px;
    box-shadow: 0 7px hsla(0, 60%, 64%, 0.918);

}
.grid-item3{
    background-color: white;
    border-radius: 10px;
    width: 470px;
    height: 300px;
    margin-bottom: 200px;
    margin-left: -100px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 1px 7px hsla(0, 60%, 64%, 0.918);
}
/* Form Styling */
form{
    color: rgb(172, 152, 127);
}
.input-box {
    height: 40px;
    width: 83%;
    margin-bottom: 20px;
    margin-left: 40px;  
}
.input-box input,
.input-box textarea {
    height: 100%;
    width: 90%;
    border: 1px solid rgb(233, 225, 225);
    font-size: 14px;
    background: white;
    border-radius: 5px;
    padding-left: 30px;
}
.input-box input,
.input-box textarea:active{
    outline-color: hsl(251, 18%, 70%);
    outline-width: 1px solid;
    color:  hsl(249, 10%, 26%);
    font-weight: 600;
}
.button {
    display: inline-block;
}
input[type="submit"] {
    color: #fff;
    font-size: 13px;
    font-weight: 550;
    outline: none;
    border: 10px solid hsl(154, 59%, 51%) ;
    padding: 5px;
    border-radius: 4px;
    background: hsl(154, 59%, 51%);
    cursor: pointer;
    box-shadow: 0 3px hsl(154, 56%, 45%);
}
input[type="submit"]:hover{
    background-color: hsl(154, 51%, 60%);
}
div p a{
    text-decoration: none;
    color: hsl(0, 100%, 74%);
}
/* First Paragraph Styling */
.space{
    line-height: 50px;
    padding-bottom: 30px;
    padding-top: 20px;
}
.spax{
    padding-left: 10px;
}

/* Validation Error Styling */
input:invalid {
    outline: none;
    border: none;
    border: 2px solid hsl(0, 100%, 74%);
    color: hsl(0, 100%, 74%);
    background-image: url(./images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-origin: content-box;   
    font-size: 14px;
    font-weight: 600;
}
input:invalid+span{
    display: block;
    font-size: 9px;
    font-weight: 600;
    font-style: italic;
    color: hsl(0, 100%, 74%);
    margin-left: 65%;
}

input:valid {
    outline: none;
    border: none;
    border: 1px solid hsl(154, 59%, 51%);
}
span {
    display: none;
}
/* Media Responsiveness */
@media (max-width:375px) {
    .grid-container{
        
}